*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



/* ------------------------------------------------------header styles starts */





header{
    width: 100%;
    height: 50rem;
    background-image: url(./images/banner/banner2.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner-title{
    margin-right: 14rem;
}
.banner-title>h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #151414;
}

.banner-title>p{
   font-size: 1rem;
   color: #444343;
   font-weight: 400;
   margin-bottom: 2rem;
}

.btn-primary{
    width: 10rem;
    height: 4rem;
    background-color: #F15B22;
    border-radius: .312rem;
    border: 0;
}



/* ------------------------------------------------------header styles ends*/

/* My failured section styles starts */
.my-failures-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 8rem;
}

.my-failures>h1{
    color: var(--Dark-01, #151414);
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.my-failures>p{
    color: var(--Dark-02, #444343);
font-family: Work Sans;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem;
margin-bottom: 2.5rem;
}


.my-failures ul li{
    margin-left: 3.312rem;
    line-height: 2.23rem;
}


/* <!-- ---------------------------------My failured section ends--> */